html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 680px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 1000px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .8s;
}

.logo,
.default {
    position: absolute;
    width: 125px;
    height: 125px;
    backface-visibility: hidden;
}

.logo {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(.90);
    transition: transform .3s;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*Styles for the Modal*/

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.modal-sheet {
    position: relative;
    width: 500px;
    background-color: white;
    top: 25%;
    left: 25%;
}

.modal-heading {
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    border-bottom: 2px solid rgb(14, 183, 235);
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-radius: 20%;
    border: 2px solid rgb(14, 183, 235);
}

.stats-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 2rem;
}

.cancel:hover {
    font-size: 1.5em;
}

.replay:hover {
    font-size: 1.5em;
}

.hidden {
    display: none;
}

/*Media Queries*/
@media screen and (max-width: 580px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
    }

    .header>h1 {
        text-align: center;
        flex-basis: 100%;
    }

    .score-panel {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
    }

    .restart {
        flex-basis: 10%;
    }

    .timer,
    .stars {
        flex-basis: 25%;
    }

    .deck {
        width: 95%;
    }

    .deck .card {
        width: 25%;
    }

    .logo,
    .default {
        width: 100%;
    }

    .logo>img,
    .default>img {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .modal-sheet {
        width: 50%;
    }
}